/*******************************************************
*
*  Media Queries
*
********************************************************/
/**
* Global Print Styles
*/
@media print {
  body {
    margin: 0 !important;
  }
  .print-only,
  .print-only * {
    display: block !important;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
}

/**
 *  Small Viewport < 60em/960px
*/
@media screen and (--small-viewport) {

}

@media screen and (width >= 60.0625em) and (width <= 75.000em) {

}
/**
*  Large Viewport  > 75em/1201px
*/
@media screen and (--large-viewport) {
}
