/**
 *  Global CSS
 *
 *  @author Front End Dev @WKS
 *
 *  Mon Mar 28 10:15:00 PCT 2022
 */
/**/

.tv-divider {
  padding: 8px 0;
}

.tv-footer {
  position: sticky;
  bottom: 0;
}

/* Star wars background */
.tv-stars {
  background: var(--background-color-default)
    url('~/assets/images/background/stars.png') repeat top
    center;
}

.tv-twinkling {
  background: transparent
    url('~/assets/images/background/twinkling.png') repeat
    top center;
  animation: move-twink-back 200s linear infinite;
}

.tv-stars,
.tv-twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

@keyframes move-twink-back {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10000px 5000px;
  }
}