/*  Media Query Mixins */
:root {
  --screen-xs-min: 0px;
  --screen-sm-min: 480px;
  --screen-md-min: 768px;
  --screen-lg-min: 960px;
  --screen-vl-min: 1440px;
  --screen-xl-min: 1920px;
}

/* mobile first :D */
@define-mixin res-xs {
  @media (min-width: var(--screen-xs-min)) {
    @mixin-content;
  }
}

@define-mixin res-sm {
  @media (min-width: var(--screen-sm-min)) {
    @mixin-content;
  }
}

@define-mixin res-md {
  @media (min-width: var(--screen-md-min)) {
    @mixin-content;
  }
}

@define-mixin res-lg {
  @media (min-width: var(--screen-lg-min)) {
    @mixin-content;
  }
}

@define-mixin res-vl {
  @media (min-width: var(--screen-vl-min)) {
    @mixin-content;
  }
}

@define-mixin res-xl {
  @media (min-width: var(--screen-xl-min)) {
    @mixin-content;
  }
}
